<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVKTNzVDJMr1jdDHHmj2CS9WAn7PORFhc</string>
	<key>GCM_SENDER_ID</key>
	<string>643422226866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skillSync</string>
	<key>PROJECT_ID</key>
	<string>skill-sync-92163</string>
	<key>STORAGE_BUCKET</key>
	<string>skill-sync-92163.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643422226866:ios:fc77a6f57114b8d12b7cab</string>
</dict>
</plist>